{% extends "layout.html" %}
{% block body %}

<section class="teacher-profile">

   <h1 class="heading">Result</h1>

   <div class="details">
      <div class="tutor"><h3>Test 1</h3>
         <span>Entrepreneurship</span>
      </div>
      <div class="flex">
         <p>Total Marks : <span>20</span></p>
         <p>Highest Mark : <span>18</span></p>
         <p>Average: <span>14</span></p> </div>
   </div>

</section>

<section class="courses">

   <h1 class="heading">Student Mark</h1>

   

   </div>

</section>

{% endblock %}