{% extends "layout.html" %}
{% block body %}


<section class="form-container">

   <form onsubmit="return validateUpdate()" action="/updatedprofile/{{username}}/{{name}}/{{email}}" method="post" enctype="multipart/form-data">
      <h3>Update Profile</h3>
      <p>Update name</p>
      <input type="text" name="name" placeholder="{{name}}" maxlength="50" class="box">
      <p>Update Email</p>
      <input type="email" name="email" placeholder="{{email}}" maxlength="50" class="box">
      <p>Previous password</p>
      <input type="password" name="old_pass" placeholder="Enter your old password" maxlength="20" class="box">
      <p>New password</p>
      <input type="password" name="pass" id="newpass" placeholder="Enter your new password" maxlength="20" class="box">
      <p>Confirm password</p>
      <input type="password" name="pass" id="newrepass" placeholder="confirm your new password" maxlength="20" class="box">
      <p>Update pic</p>
      <input type="file" accept="image/*" class="box">
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>

</section>

{% endblock %}
